body{
    margin: 0;
    background-image: url(../圖片/圓圈背景.png);
    background-size: cover;
    font-family: DFKai-sb;
}
h1{
    writing-mode: vertical-rl;
    float: left;
    padding-top:150px;
    padding-left:80px;
    font-size: 40px;
    color: rgb(43, 0, 255);
}
#container{
    margin: 0 auto;
    width: 932px;
    background-color: #ccccff;
}
#menu {
    height: 50px;
    background-color: #99cc33;
}
#banner {
    background-image: url('../圖片/banner.png');
    background-size: cover;
    width:932px;
    height: 230px;  
}
#mainContent {
    overflow: auto;
    background-color:white;
}
#content {
    float: right;
    width: 932px;
    height: 370px;   
}
#footer {
    height: 24px;
    
    background-color: #669999;
}

.hlist li{
    background-color: antiquewhite;
    list-style-type:none;
    float:left;
    padding:7px;
    margin: 3px;
}
.hlist a{
    text-decoration:none;
    
    color:black;
    font-size:22px;
    font-weight:bold;
    
}
.hlist a:hover{
    color:blue;
}

img {
    width: 100%; /* 寬度隨容器調整 */
    height: auto; /* 高度自動，保持比例 */
    max-width: 930px; /* 限制最大寬度，避免過大 */
    display: block; /* 移除底部空白 */
}
#日誌
{
    max-width: 300px;
}